.detailsSection {
  margin-bottom: 30px;
  min-width: 290px;
}

@media screen and (min-width: 480px) {
  .detailsSection {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .detailsSection {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .detailsSection {
    max-width: 1800px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}
