.projectsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.projectLinkImage {
  min-width: 290px;
  min-height: 290px;
  margin-bottom: 15px;
}

.toolTip .MuiTooltip-tooltip {
  font-size: 16px;
}

.repoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.repoLinkContainer {
  margin-bottom: 10px;
  text-align: center;
}

.repoLink {
  color: aliceblue;
  font-family: var(--font-family-regular);
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}

.title {
  font-family: var(--font-family-bold);
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  margin-bottom: 15px;
}

@media screen and (min-width: 480px) {
  .projectsSectionContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
  }

  .repoLinkContainer {
    width: fit-content;
    text-align: center;
  }

  .projectLinkImage {
    min-width: 300px;
    min-height: 300px;
  }

  .repoLink,
  .title {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .projectLinkImage {
    min-width: 400px;
    min-height: 400px;
  }

  .repoLink,
  .title {
    font-size: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .projectsSectionContent {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .projectLinkImage {
    min-width: 500px;
    min-height: 500px;
  }

  .repoLink,
  .title {
    font-size: 40px;
  }
}
