.headerLinksContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 400px;
}

.iconLink {
  text-decoration: none;
}

.iconLink:hover,
.iconLink:focus {
  cursor: pointer;
}

