.header {
  min-width: 290px;
  margin: 15px 15px 30px 15px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.name,
.title {
  font-family: var(--font-family-bold);
  font-size: 20px;
}

.menuIcon {
  color: white;
}

.headerTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .header {
    margin: 30px 30px 30px 30px;
  }
  .name,
  .title {
    font-size: 30px;
  }
}