.header {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  padding: 0 15px;
}

.name {
  font-family: var(--font-family-bold);
  text-align: end;
}

.headerLinksContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 400px;
}

.iconLink:hover,
.iconLink:focus {
  cursor: pointer;
}
